@import "~bootstrap/dist/css/bootstrap.min.css";

h1 {
  padding-top: 10px;
}

.card {
  border-radius: 20px;
  width: 21rem;
  height: 28rem;
}

.suit {
  font-size: 4rem;
}

.number {
  font-size: 150px;
}
